:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-grey: hsl(217, 12%, 63%);
  --Medium-grey: hsl(216, 12%, 54%);
  --Dark-blue: hsl(213, 19%, 18%);
  --Very-dark-blue: hsl(216, 12%, 8%);
  --Medium-blue: hsl(213, 19%, 22%);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--Very-dark-blue);
}

h1, h2 {
  margin-bottom: 1.2rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--White);
}

p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--Light-grey);
  line-height: 1.5;
}

.grid {
  display: grid;
  place-items: center;
}

.rating-container {
  width: 88%;
  padding: 2rem;
  max-width: 350px;
  background-color: var(--Dark-blue);
  border-radius: 1.5rem;
}

.rating-container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 3rem;
  background-color: var(--Medium-blue);
  border-radius: 50%;
}

.rating-container__icon img {
  width: 40%;
}

.rating-container__values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.rating-values {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 1.4rem;
  color: var(--Light-grey);
  background-color: var(--Medium-blue);
  border-radius: 50%;
  cursor: pointer;
}

.rating-values:hover {
  color: var(--White);
  background-color: var(--Orange);
}

.primary-button {
  width: 100%;
  height: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Orange);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}

.primary-button:hover {
  color: var(--Orange);
  background-color: var(--White);
}


/* backpart of the card */
.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  padding: 2rem;
  max-width: 360px;
  background-color: var(--Dark-blue);
  border-radius: 1.5rem;
}

.feedback-container img {
  margin-bottom: 1rem;
}

.feedback-score__orange {
  row-gap: 10px;
  width: 50%;
  height: 2.5rem;
  text-align: center;
  line-height: 2;
  color: var(--Orange);
  background-color: var(--Medium-blue);
  border-radius: 2.5rem;
}

.feedback-container h2 {
  margin-top: 0;
}

.feedback-container p:last-of-type {
  margin-top: 0;
  text-align: center;
}

.inactive {
  display: none;
}

.clicked {
  color: var(--White);
  background-color: var(--Light-grey);
}